.intro__list {
    padding-left: 0;
    list-style: none;
    margin-bottom: 88px;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
}

@media screen and (max-width: 320px) {
    .intro__list {
        margin-bottom: 64px;
    }
}

@media screen and (min-width: 1024px) {
    .intro__list {
        margin-bottom: 92px;
    }
}