.header {
    display: flex;
    width: 90%;
    height: 52px;
    justify-content: space-between;
    align-items: flex-end;
    margin: 28px auto 48px;
}

@media screen and (max-width: 320px) {
    .header {
        height: 42px;
    }
}