.intro {
    width: 95%;
    max-width: 984px;
    align-self: center;
}

@media screen and (min-width: 1024px) {
    .intro {
        width: 91%;
    }
}

@media screen and (max-width: 767px) {
    .intro {
        width: 90%;
    }
}