.footer {
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: 88px auto 24px;
}

@media screen and (max-width: 320px) {
    .footer {
        flex-direction: column;
        margin-top: 64px;
    }
}

@media screen and (min-width: 1024px) {
    .footer {
        margin-top: 92px;
    }
}