.intro__title {
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    margin-bottom: 40px;
    margin-top: 88px;
}

@media screen and (max-width: 767px) {
    .intro__title {
        max-width: 250px;
        font-size: 32px;
        line-height: 35px;
        margin-top: 64px;
    }
}

@media screen and (min-width: 1024px) {
    .intro__title {
        margin-top: 92px;
    }
}